/* Container styles */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}

/* Form styles */
.login-form {
    padding: 20px;
    width: 100%;
    max-width: 430px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Header styles */
.login-header {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Input field styles */
input {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

/* Button styles */
.login-button {
    margin-top: 10px;
    background-color: #000000;
    color: #fff;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    box-shadow: 1px 1px 5px gray;
}

/* Links styles */
.login-links {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-links a {
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width:450px) {
    .login-links {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
}