.date-picker-container,.time-picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.date-picker-container label,.time-picker-container label {
    font-size: 1.2rem;
}