.comment-system {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #fff;
}

.comment-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.comment-input textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.comment-input button {
    align-self: flex-end;
    padding: 5px 10px;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid black;
}

.comment-input button:hover {
    color: black;
    background-color: #0056b3;
    background-color: transparent;
}

.comment-list {
    display: flex;
    flex-direction: column;
}

.comment {
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .comment-system {
        max-width: 100%;
    }

    .comment-input button {
        align-self: center;
    }

    .comment-input textarea {
        margin-bottom: 5px;
    }
}
