@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color1: gold;
  --color2: red;
  scroll-behavior: smooth;
}

/* CSS Reset */
* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

section {
  padding: 5rem 7%;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* utilities classes ----- */
.josefin-font {
  font-family: 'Josefin Sans', sans-serif;
}

.globalbtn {
  cursor: pointer;
  /* background: transparent; */
  background-color: black;
  color: white;
  font-size: 1.2vmax;
  border: 1px solid rgb(0, 0, 0);
  padding: .4rem 1rem;
  border-radius: 50px;
  letter-spacing: .5px;
  font-weight: 500;
  transition: background-color 0.5s, color 0.5s;
}

.globalbtn:hover {
  background-color: transparent;
  color: black;
  transition: background-color 0.5s, color 0.5s;
}

.pricingbtn{
  border: 1px solid white;
  background-color: white;
  color: black;
}

.pricingbtn:hover{
  border: 1px solid white;
  color: white;
}
/* global media queries ---- */
@media (max-width:768px) {
  .globalbtn {
    font-size: 2vmax;
  }

  .globalbtn {
    padding: .4rem .8rem;
  }
  
  section {
    padding: 5rem 3%;
  }
}

@media (max-width:500px) {
  section {
    padding: 5rem 3%;
  }


}