.drag-drop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 200px;
    margin: 100px auto;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.draggable-item {
    width: 100%;
    padding: 10px;
    /* background-color: #f4f4f4; */
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: move;
    text-align: center;
}

.draggable-item:active {
    opacity: 0.5;
}
